*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #c7f9cc;
}
div{
  text-align: center;
}
body{
  background-color: #22577a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
.container{
  display: grid;
  width: 24rem;
  height: 24rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-top: 7px;
  text-align: center;
  font-size: 90px;
}
.block{
  display: flex;
  border: 1px solid #011627;
  background-color: #38a3a5;
  align-items: center;
  justify-content: center;
}
.tlblock{
  border-radius: 20px 0 0 0;
}
.blblock{
  border-radius: 0 0 0 20px;
}
.trblock{
  border-radius: 0 20px 0 0;
}
.brblock{
  border-radius: 0 0 20px 0;
}
.block:hover{
  border: 2px solid #80ed99;
  transition: .3;
}
.btn {
  background-color:#0a0a23;
  color: #fff;
  border:none; 
  border-radius:10px; 
  padding:13px;
  min-height:30px; 
  min-width: 120px;
  margin-top: 2rem;
}
.btn:hover {
  background-color:#002ead;
  transition: 0.7s;
}
.btn:focus {
  outline-color: transparent;
  outline-style:solid;
  box-shadow: 0 0 0 3px #5a01a7;
  transition: 0.7s;
}
